body {
    font-family:'Times New Roman', Times, serif;
    background-color: #ffffe6;
}
h1 {
    text-align: center;
    color: #cc99ff;
}
.container {
    margin: 50px auto;
    max-width: 1500px;
}
img {
    display: inline;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 1100px;
}
p {
    text-align: justify;
    line-height: 1.5;
    margin: 20px 0;
}

.tartalom{
    margin-top: 100px;
}

.udvozlo{
   align-items: center;
   display: flex;
}

.udvozlo p{
    font-size: 26px;
}

.szoveg{
    font-size: 23px;
}

.kep{
    margin-top: 25px;
}

.navbar{
    position: sticky;
    top: 0px;
    z-index: 1;
}